.aboutUs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.aboutUs h2 {
    font-size: 30px;
    font-weight: 600;
    color: #3f444a;
    margin-top: 30px;
}

.aboutUs p {
    text-align: justify;
    width: 50%;
}