  .navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }

  .navbar-nav{
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
  }

  .navbar-image {
    height: 400px;
    background: linear-gradient(to right, hsla(268, 37%, 26%, 0.356), hsla(298, 37%, 26%, 0.342)), url(../../assets/banner-revolution.png);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
  }
  .navbar a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

@media (max-width: 992px) {
  .navbar a {
    padding: 1px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
  }

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
  }

  .custom-toggler {
    border-color: white;
    color: white
  }
}